extends baseEmail

block content
    p Olá, #{name},
    p #{subject}

    div.activationCodeContainer
      p.activationCode #{attachment}

    p Este é um site não oficial para salvar sua fatura e progresso.
    p - Time Aicrag, Brasil
